<link href="http://110.42.45.236:23366/dist/Artalk.css" rel="stylesheet">
<script src="http://110.42.45.236:23366/dist/Artalk.js"></script>

<div id="Comments"></div>
<script>
document.addEventListener('DOMContentLoaded', () => {
  new Artalk({
    el: '#Comments',
    pageKey: '{{ page.url }}',
    server: '{{ site.artalk.server }}',
    site: '{{ site.artalk.site }}',
    placeholder: '{{ site.artalk.placeholder }}',
    darkMode: {{ site.artalk.darkMode }},
    locale: '{{ site.artalk.locale }}'
  })
})
</script>
